<h1>{{book.fullName}}</h1>
<h3>{{book.category}}</h3>
<p>{{book.book_title}}, {{book.is_borrowed}}</p>

<div>
    <a href="/books/{{book.id}}/edit" class="btn btn-primary">Edit {{book.book_title}}</a>
</div>

<form action="/books/{{book.id}}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class="btn btn-danger" />
</form>

<a href="/books" class="btn btn-default">Main Page</a>
