<h1>{{user.fullName}}</h1>
<p>{{user.email}}</p>

<div>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit {{user.fullName}}</a>
</div>

<form action="/users/{{user.id}}?_method=DELETE" method="POST">
    <input type="submit" value="DELETE" class="btn btn-danger" />
</form>

<a href="/users" class="btn btn-default">Main Page</a>
