<h1>Book Lending</h1>

<ol>
  {{#each authors}}
    <li>
      <h1><a href="/authors/{{this.id}}">{{this.fullName}}</a></h1>
      <h3>{{this.category}}</h3>
      <p>{{this.book_title}}, {{this.publication_year}}</p>
    </li>
  {{/each}}
</ol>
